@model Recitopia.Models.Ingredient_Nutrients

@{
    ViewBag.Title = "Create";
}


<table style="width:100%" class="table table-borderless rounded-sm box effect8">
    <tr>
        <th style="font-size:20px;background-color:blanchedalmond">
            @ViewBag.IngredName
        </th>
    </tr>

</table>
<br />
<table width="100%">
    <tr>
        <td width="50%" valign="top">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Ingred_Id,
                                                            new { id = "Ingred_Id", Value = ViewBag.IngredId })*@
                     <div class="form-group">
                   
                        <input value="@ViewBag.IngredId" id="RID" name="RID" type="hidden">
                    </div>
                    <div class="form-group">
                        
                        <font style="font-size:13px;font-weight:bolder">Nutrition Item</font>
                        <div class="col-md-10">
                            @Html.DropDownList("Nutrition_Item_Id", null, htmlAttributes: new { @class = "form-control", required = "required", style = "font-size:13px;height:35px"  })
                            @Html.ValidationMessageFor(model => model.Nutrition_Item_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <font style="font-size:13px;font-weight:bolder">Nutrition/100g</font>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Nut_per_100_grams, new { @class = "form-control", @Value = "0", style = "font-size:13px;height:25px"  })
                            @Html.ValidationMessageFor(model => model.Nut_per_100_grams, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add" class="btn alert-success effect8" />
                        </div>
                    </div>
                </div>
            }

        </td>
        <td width="50%" valign="top" style="font-size:13px">
            <div>
                <table>
                    <tr style="background-color:lightblue">
                        <td align="center" style="font-weight:bolder">
                            Recipes already in '@ViewBag.IngredName'
                        </td>

                    </tr>

                    @foreach (var nutrition in ViewBag.Nutrition)
                    {
                        <tr>
                            <td >
                                -@nutrition
                            </td>


                        </tr>
                    }
                </table>
            </div>

        </td>
    </tr>
</table>
<div>
   
    @Html.ActionLink("Back to List", "Index", new { IngredID = ViewBag.IngredId })
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
