

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recitopia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    -->
    <script src="~/lib/angular.js/angular.js"></script>
    <script src="~/lib/angular.js/angular-route.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/app/app.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <style>
        hoverdiv {
            box-shadow: 10px 10px 5px grey;
        }
    </style>
</head>

<body>

    <div class="container-fluid box effect8" style="background-color:whitesmoke;">
        <br />
        <table border="0" style="align-content:center;width:100%" class="table-responsive-lg">
            <tr>
                <td>
                    <div style="font-size:30px">

                        <a href="http://www.Traitopia.com" target="_blank" style="text-decoration: none">Recitopia</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark " style="background-color:black;">

                        <div class="container-fluid d-print-none">

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home<span class="sr-only">(current)</span></a>

                                    </li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index", "Recipes")">Recipes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index", "Ingredients")">Ingredients</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index", "Nutritions")">Nutrition</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOther" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Other
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownOther">
                                                <a class="dropdown-item" href="@Url.Action("Index", "Packaging")">Packaging</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "Components")">Allergens</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "Serving_Sizes")">Serving Sizes</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "Meal_Category")">Categories</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "Vendors")">Vendors</a>

                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTools" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Tools
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownTools">

                                                <a class="dropdown-item" href="">Simple MRP</a>
                                               
                                            </div>
                                        </li>
                                        @if (User.IsInRole("Administrator"))
                                        {
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Administration
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                                    <a class="dropdown-item" href="@Url.Action("Index", "AppUsers")">User Management</a>
                                                    <a class="dropdown-item" href="@Url.Action("Index", "Customers")">Customers</a>
                                                    <a class="dropdown-item" href="@Url.Action("Index", "Customer_Users")">Customer Users</a>
                                                    <a class="dropdown-item" href="@Url.Action("Index", "AppRoles")">Role Management</a>
                                                    <a class="dropdown-item" href="@Url.Action("Index", "Feedback")">Feedback!</a>
                                                </div>
                                            </li>
                                        }

                                    }



                                </ul>

                            </div>

                        </div>
                    </nav>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="d-print-none">
                        <partial name="_LoginPartial" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="container body-content">
                        <br />
                        @RenderBody()
                        <br />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-print-none" style="background-color:#343a40">                        

                        <footer>
                            <table border="0" style="width:100%">
                                <tr>
                                    <td style="text-align:left;width:50%">
                                        <font style="color:lightgrey;font-size:12px">&nbsp;&copy; @DateTime.Now.Year - Recitopia</font>

                                    </td>
                                    <td style="text-align:right;width:50%">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a class="nav-link" href="@Url.Action("FeedbackUser", "Feedback")"><font style="color:whitesmoke;font-size:12px">FEEDBACK</font></a>
                                        }
                                    </td>
                                </tr>
                            </table>

                        </footer>
                        
                    </div>
                </td>
            </tr>
        </table>
        
        
        <br />
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>