@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (User.Identity.IsAuthenticated)
{
    
        <table border="0" style="width:100%">

            <tr style="font-size:13px">

                <td style="text-align:left;width:80%">
                   
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa fa-pen-fancy"></i>Hello @((await UserManager.GetUserAsync(User)).FullName)</a>
                    

                </td>
                <td style="text-align:right;width:20%">
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button style="padding:0px;font-size:13px" type="submit" class="btn btn-link btn-sm">Logout</button>
                    </form>

                </td>
            </tr>
            <tr style="background-color:gainsboro;font-size:17px">
                <td style="text-align:center" colspan="2">

                    <a href="@Url.Action("CustomerLogin", "Customers", new { clickLinktoChange = true } )"><font style="color:saddlebrown">@UserManager.Users.Where(m => m.UserName == @User.Identity.Name).First().Customer_Name <i class="fa fa-users"></i></font></a>


                </td>
            </tr>

        </table>
    
}
else
{
    <table width="100%">
        <thead>
            <tr style="font-size:15px">
                <td align="left" width="80%">
                    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                </td>
                <td align="right" width="20%">
                    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                </td>
            </tr>
        </thead>
    </table>
}
