@model Recitopia.Models.Nutrition

@{
    ViewBag.Title = "Details";
}


<table style="width:100%">
    <tr>
        <th>
            Details
        </th>
    </tr>
</table>
<table style="width:100%" class="table table-borderless rounded-sm box effect8">
    <tr class="pageBanner">
        <th style="font-size:20px">
            @Model.Nutrition_Item
        </th>
    </tr>

</table>
<br />
<div>


    <dl class="dl-horizontal" style="font-size:13px">
        <dt>
            Nutrition Item
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nutrition_Item)
        </dd>

        <dt>
            DV
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DV)
        </dd>

        <dt>
            Measurement
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Measurement)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Nutrition_Item_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
