@model Recitopia.Models.Components

@{
    ViewBag.Title = "Details";
}
<table style="width:100%">
    <tr>
        <th>
            Details
        </th>
    </tr>
</table>
<table style="width:100%" class="table table-borderless rounded-sm box effect8">
    <tr class="pageBanner">
        <th style="font-size:20px">
            @Model.Component_Name
        </th>
    </tr>

</table>
<br />            
<table>
    <tr>
        <th>@Html.LabelFor(model => model.Component_Name)</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Component_Name)</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.Notes)</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Notes)</td>
    </tr>
</table>      

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Comp_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
