@model IEnumerable<Recitopia.Models.Recipe_Packaging>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="width:100%" class="table table-borderless rounded-sm box effect8">
    <tr class="pageBanner">
        <th style="font-size:20px">
            @ViewBag.RecipeName (Packaging List)
        </th>
    </tr>
</table>
<br />
<div ng-app="myApp" ng-controller="RecipePackaging" ng-init="Recipe_Id=(@ViewBag.RecipeNameID)" class="container-fluid" style="font-size:13px">
    @* Use ng-controller *@

    <table>
        <tr>
            <td>
                <div >
                    <table width="100%" class="table table-condensed table-hover table-striped table-bordered table-responsive-lg">
                        <tr>
                            <th class="AngularTableHeaderColor" style="vertical-align:bottom">
                                <a href="" ng-click="changeSorting('package_Name')"><font style="color:black">Packaging Name</font></a>
                                <i class="fa fa-caret-left" ng-class="getIcon('package_Name')"></i>
                            </th>
                            <th class="AngularTableHeaderColor" style="vertical-align:bottom">
                                <a href="" ng-click="changeSorting('amount')"><font style="color:black">Amount</font></a>
                                <i class="fa fa-caret-left" ng-class="getIcon('amount')"></i>
                            </th>
                            <th style="text-align:right" class="AngularTableHeaderColor"><a href="@Url.Action("Create", "Recipe_Packaging", new { recipeID = ViewBag.RecipeNameID })" class="btn alert-success btn-sm" role="button"><i class="fa fa-plus"></i> Packaging</a></th>
                        </tr>
                        <tr ng-if="(Packaging|filter:query).length > 0">
                            <td style="font-size:13px"><input placeholder="Filter" style="padding:1px;height:20px;width:100%" ng-model="f.package_Name"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="packaging in Packaging | filter:f | orderBy:sort.active:sort.descending" ng-if="(Packaging|filter:query).length > 0">
                            <td style="height:15px;padding:1px">{{packaging.package_Name}}</td>
                            <td style="height:15px;padding:1px">
                                <div ng-show="!packaging.edit.amount"
                                     ng-click="packaging.edit.amount = !packaging.edit.amount">
                                    <i class="fa fa-pen"></i> {{packaging.amount}}
                                </div>
                                <input type="number" min="0" step="0.001" style="width:75px" required ng-show="packaging.edit.amount"
                                       ng-blur="packaging.edit.amount = !packaging.edit.amount"
                                       ng-model="packaging.amount"
                                       ng-focus="$event.target.select()" />
                            </td>
                            <td style="height:15px;padding:1px;text-align:right;vertical-align:central;width:150px">
                                @* <button ng-click="RedirectToEdit(packaging)" class="btn btn-outline-success AngularButtons">
                                        <i class="fa fa-pen"></i>
                                    </button> |*@
                                <button ng-click="RedirectToDetails(packaging)" class="btn btn-outline-info AngularButtons">
                                    <i class="fa fa-clipboard"></i>
                                </button> |

                                <button ng-click="DelPackaging(packaging)" class="btn btn-outline-danger AngularButtons">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr ng-if="(Packaging|filter:query).length > 0">
                            <td colspan="1">
                                <div>
                                    <div ng-if="resultMessage == 'Update Successful'">

                                        <font style="color:darkgreen">{{resultMessage}}<i class="fa fa-check"></i></font>
                                    </div>
                                    <div ng-if="resultMessage == 'Error saving'">

                                        <font style="color:red">{{resultMessage}}<i class="fa fa-exclamation"></i></font>
                                    </div>
                                </div>
                            </td>
                            <td align="right" colspan="3">
                                <div >
                                    <button class="btn alert-warning AngularButtons border-dark" ng-click="RedirectToUpdate(Packaging)">
                                        &nbsp;<i style="height:10px" class=" fa fa-save"></i> Save your changes&nbsp;
                                    </button>
                                </div>
                            </td>

                        </tr>

                    </table>

                </div>
            </td>
        </tr>
    </table>


</div>
<div class="d-print-none">

    @Html.ActionLink("Recipe Details", "Details", "Recipes", new { id = ViewBag.RecipeNameID }) |
    @Html.ActionLink("Recipe List", "Index", "Recipes")

</div>
@*<br />
<div ng-if="(Packaging|filter:query).length > 0">
    <a href="@Url.Action("Create", "Recipe_Packaging", new { recipeID = ViewBag.RecipeNameID })" class="btn alert-success effect8" role="button"><i class="fa fa-plus"></i> Add Packaging</a>
</div>*@