@model Recitopia.Models.Ingredient

@{
    ViewBag.Title = "Details";
}
<div class="d-print-none">
    <table style="width:100%">
        <tr>
            <td>
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Ingredient_Id }) |
                    @Html.ActionLink("Back to List", "Index") |
                    @Html.ActionLink("Create Copy", "CreateCopy", new { id = Model.Ingredient_Id }) |
                    @if (Model.isArchived == false)
                    {
                        @Html.ActionLink("Archive It", "ArchiveIt", new { id = Model.Ingredient_Id })
                    }
                    else
                    {
                        @Html.ActionLink("UnArchive It", "UnArchiveIt", new { id = Model.Ingredient_Id })
                    }

                </div>
            </td>
            <td style="text-align:right">
                <div>
                    <a href="@Url.Action("Index", "Ingredient_Nutrients", new { IngredID = Model.Ingredient_Id })" style="background-color:lavender;padding:9px" class="btn btn-sm AngularButtons" role="button"><i class="fa fa-plus"></i> Nutrition</a>
                    <a href="@Url.Action("Index", "Ingredient_Components", new { IngredID = Model.Ingredient_Id })" style="background-color:wheat;padding:9px" class="btn btn-sm AngularButtons" role="button"><i class="fa fa-plus"></i> Allergens</a>
                </div>
            </td>
        </tr>
    </table>
</div>

<table style="width:100%">
    <tr>
        <th>
            Details
        </th>
    </tr>
</table>
@if (Model.isArchived == true)
{
    var isArchivedMessage = "Archived on " + Model.ArchiveDate.ToShortDateString();

    <table style="width:100%" class="table table-borderless rounded-sm box effect8">
        <tr class="pageBanner">
            <th style="font-size:20px">
                @Model.Ingred_name <font style="font-size:15px;color:red">(@isArchivedMessage)</font>
            </th>
        </tr>

    </table>
}
else
{

    <table style="width:100%" class="table table-borderless rounded-sm box effect8">
        <tr class="pageBanner">
            <th style="font-size:20px">
                @Model.Ingred_name
            </th>
        </tr>

    </table>
}
<br />
<div>


    <table width="100%" border="0">
        <tr>
            <td width="30%" valign="top" style="font-size:13px">
                <table width=100% class="table-striped" border="1">
                    <tr>
                        <th style="background-color:darkseagreen;font-size:15px">
                            Details
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.Ingred_name)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Ingred_name)
                        </td>
                    </tr>
                    @if (Model.Ingred_Comp_name != null)
                    {
                        <tr>
                            <th>
                                @Html.LabelFor(model => model.Ingred_Comp_name)
                            </th>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.Ingred_Comp_name)
                            </td>
                        </tr>

                    }

                    @if (Model.Cost_per_lb != null)
                    {
                        <tr>
                            <th>
                                @Html.LabelFor(model => model.Cost_per_lb)
                            </th>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.Cost_per_lb)
                            </td>
                        </tr>

                    }
                    @if (Model.Cost != null)
                    {
                        <tr>
                            <th>
                                @Html.LabelFor(model => model.Cost)
                            </th>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.Cost)
                            </td>
                        </tr>

                    }
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.Vendor.Vendor_Name)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Vendor.Vendor_Name)
                        </td>
                    </tr>
                    @if (Model.Notes != null)
                    {
                        <tr>
                            <th>
                                @Html.LabelFor(model => model.Notes)
                            </th>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.Notes)
                            </td>

                        </tr>

                    }
                    @if (Model.Brand != null)
                    {
                        <tr>
                            <th>
                                @Html.LabelFor(model => model.Brand)
                            </th>

                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.Brand)
                            </td>

                        </tr>
                    }
                </table>
            </td>
            <td width="65%" valign="top" align="right" style="font-size:13px">
                <table border="1" width="100%" class="table-striped">
                    <tr>
                        <th colspan="2" style="background-color:darkseagreen;font-size:15px">
                            Nutritients
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Nutrient Name
                        </th>
                        <th>
                            Nutrition/100g
                        </th>


                    </tr>

                    @foreach (var item in ViewBag.IngredientNutritions)
                    {
                        <tr>
                            <td>
                                @item.Nutrition_Item
                            </td>
                            <td>
                                @item.Nut_per_100_grams
                            </td>


                        </tr>
                    }
                </table>
                <br />
                <table border="1" width="100%" class="table-striped">
                    <tr>
                        <th style="background-color:darkseagreen;font-size:15px">
                            Allergens
                        </th>
                    </tr>


                    @if (ViewBag.RComponents != null)
                    {
                        foreach (var allergen in ViewBag.RComponents)
                        {
                            if (allergen != null)
                            {
                                <tr>
                                    <td>
                                        <span> @allergen </span>
                                    </td>
                                </tr>
                            }
                            @*else
                                {
                                    <tr>
                                        <td>

                                           Once Ingredients are added, this will automatically populate.
                                        </td>
                                    </tr>
                                }*@

                        }
                    }
                </table>
            </td>
        </tr>


    </table>


</div>
<br />
<div class="d-print-none">
    <table style="width:100%">
        <tr>
            <td>
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Ingredient_Id }) |
                    @Html.ActionLink("Back to List", "Index") |
                    @Html.ActionLink("Create Copy", "CreateCopy", new { id = Model.Ingredient_Id }) |
                    @if (Model.isArchived == false)
                    {
                        @Html.ActionLink("Archive It", "ArchiveIt", new { id = Model.Ingredient_Id })
                    }
                    else
                    {
                        @Html.ActionLink("UnArchive It", "UnArchiveIt", new { id = Model.Ingredient_Id })
                    }

                </div>
            </td>
            <td style="text-align:right">
                <div>
                    <a href="@Url.Action("Index", "Ingredient_Nutrients", new { IngredID = Model.Ingredient_Id })" style="background-color:lavender;padding:9px" class="btn btn-sm AngularButtons" role="button"><i class="fa fa-plus"></i> Nutrition</a>
                    <a href="@Url.Action("Index", "Ingredient_Components", new { IngredID = Model.Ingredient_Id })" style="background-color:wheat;padding:9px" class="btn btn-sm AngularButtons" role="button"><i class="fa fa-plus"></i> Allergens</a>
                </div>
            </td>
        </tr>
    </table>
</div>

