@model Recitopia.Models.BuildPlan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-print-none">
    <table style="width:100%">
        <tr>
            <td>
                <div>
                    @Html.ActionLink("Edit Plan", "Edit", new { id = Model.BuildPlan_Id }) |
                    @Html.ActionLink("Build Plan List", "Index") |
                    @Html.ActionLink("Create Copy", "CreateCopy", new { id = Model.BuildPlan_Id })
                </div>
            </td>
            <td style="text-align:right">
                <div>
                    <a href="@Url.Action("Index", "BuildPlan_Recipes", new { planId = Model.BuildPlan_Id })" style="background-color:lavender;padding:9px" class="btn btn-sm AngularButtons effect8" role="button"><i class="fa fa-plus"></i> Items</a>
                   
                </div>
            </td>
        </tr>
    </table>
</div>

<table style="width:100%">
    <tr>
        <th>
            Details
        </th>
    </tr>
</table>
<table style="width:100%" class="table table-borderless rounded-sm box effect8">
    <tr class="pageBanner">
        <th style="font-size:20px">
            @Model.Plan_Name
        </th>
    </tr>

</table>
<br />
<div>
    <table style="width:100%" border="0">
        <tr>
            <td style="font-size:13px;width:30%;vertical-align:top">
                <table style="width:100%" class="table-striped " border="1">

                    <tr style="background-color:darkseagreen;font-size:13px;text-align:left">
                        <th >
                            Plan Details
                        </th>
                    </tr>
                    
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Plan_Name)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Plan_Name)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PlanDate)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.PlanDate)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NeedByDate)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.NeedByDate)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullFilled)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.FullFilled)
                        </td>
                    </tr>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Notes)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Notes)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.LastModified)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.LastModified)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.CreateDate)
                        </td>
                    </tr>
                </table>
            </td>
            <td style="vertical-align:top">
                <table style="width:100%">
                    <tr>
                        <td>
                            <table style="width:100%" class="table-striped " border="1">
                                <tr style="background-color:darkseagreen;font-size:13px;text-align:left">
                                    <th style="text-align:left">
                                        Recipe
                                    </th>
                                    <th>
                                        Count
                                    </th>
                                    <th>
                                        Cost($)
                                    </th>

                                </tr>
                                @if (ViewBag.MainRecipePanel != null)
                                {


                                    foreach (var recipe in ViewBag.MainRecipePanel)
                                    {

                                        <tr style="font-size:13px;text-align:left">
                                            <td style="text-align:left">
                                                @recipe.Recipe_Name
                                            </td>
                                            <td>
                                                @recipe.CountIt
                                            </td>
                                            <td>
                                                
                                                @recipe.Cost.ToString("N")
                                            </td>

                                        </tr>



                                    }
                                }
                                <tr style="font-size:13px;text-align:left">
                                    <td>
                                    </td>
                                    <th style="text-align:right">
                                        Subtotal Cost
                                    </th>
                                    <td style="background-color:goldenrod">
                                       
                                        @ViewBag.MainRecipePanelSubTotal.ToString("N")
                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <table style="width:100%" class="table-striped " border="1">
                                <tr style="background-color:darkseagreen;font-size:13px;text-align:left">
                                    <th style="text-align:left">
                                        Ingredients
                                    </th>
                                    <th>
                                        Grams
                                    </th>
                                    <th>
                                        lbs
                                    </th>
                                    <th>
                                        Cost
                                    </th>
                                </tr>
                                @if (ViewBag.MainIngredientPanel != null)
                                {


                                    foreach (var ingredient in ViewBag.MainIngredientPanel)
                                    {

                                        <tr style="font-size:13px;text-align:left">
                                            <td style="text-align:left">
                                                @ingredient.Ingred_name
                                            </td>
                                            <td>
                                                @Math.Round(ingredient.SubTotalGrams, 2)
                                            </td>
                                            <td>
                                                @Math.Round(ingredient.Amount_lbs, 3)
                                            </td>
                                            <td>
                                                @ingredient.SubTotalCostIngredients.ToString("N")
                                                
                                            </td>

                                        </tr>



                                    }
                                }
                                <tr style="font-size:13px;text-align:left">
                                    <th style="text-align:right">
                                        Subtotals
                                    </th>
                                    <td style="background-color:goldenrod;">
                                        @ViewBag.MainIngredientPanelgramsTotal.ToString("N")
                                    </td>
                                    <td style="background-color:goldenrod;">
                                        @ViewBag.MainIngredientPanellbsTotal.ToString("N")
                                    </td>
                                    <td style="background-color:goldenrod;">
                                        @ViewBag.MainIngredientPanelCostTotal.ToString("N")
                                        
                                    </td>

                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>

                        <td>
                            <table style="width:100%" class="table-striped " border="1">
                                <tr style="background-color:darkseagreen;font-size:13px;text-align:left">
                                    <th style="text-align:left">
                                        Packaging
                                    </th>
                                    <th>
                                        Count
                                    </th>
                                    <th>
                                        Grams
                                    </th>
                                    <th>
                                        lbs
                                    </th>
                                    <th>
                                        Cost
                                    </th>
                                </tr>
                                @if (ViewBag.MainPackagingPanel != null)
                                {


                                    foreach (var package in ViewBag.MainPackagingPanel)
                                    {

                                        <tr style="font-size:13px;text-align:left">
                                            <td style="text-align:left">
                                                @package.Package_Name
                                            </td>
                                            <td>
                                                @Math.Round(package.CountIt, 0)
                                            </td>
                                            <td>
                                                @Math.Round(package.SubTotalGrams, 0)
                                            </td>
                                            <td>
                                                @package.Amount_lbs.ToString("N")
                                            </td>
                                            <td>
                                               
                                                @package.SubTotalCostPackaging.ToString("N")
                                            </td>

                                        </tr>



                                    }
                                }
                            <tr style="font-size:13px;text-align:left">
                                <th style="text-align:right">
                                    Subtotals
                                </th>
                                <th>
                                    
                                </th>
                                <td style="background-color:goldenrod;">
                                    @ViewBag.MainPackagingPanelgramsTotal.ToString("N")
                                </td>
                                <td style="background-color:goldenrod;">
                                    @ViewBag.MainPackagingPanellbsTotal.ToString("N")
                                </td>
                                <td style="background-color:goldenrod;">
                                    
                                    @ViewBag.MainPackagingPanelCostTotal.ToString("N")
                                </td>

                            </tr>
                            </table>
                        </td>
                        
                    </tr>
                    <tr>
                        <td >
                            <table style="width:100%" class="table-striped " border="1">
                                <tr style="background-color:darkseagreen;font-size:13px;text-align:left;padding:4px 4px 4px 4px" >
                                    <th style="text-align:left" colspan="4">
                                        Summary
                                    </th>
                                    

                                </tr>
                         
                                <tr style="font-size:13px;text-align:left;padding:4px 4px 4px 4px">
                                    <th style="text-align:right">
                                        Total lbs
                                    </th>
                                    <td style="text-align:right;background-color:goldenrod" >
                                        @ViewBag.MainPackagingPanellbsGrandTotal.ToString("N")
                                    </td>

                                    <th style="text-align:right">
                                        Total
                                    </th>
                                    <td style="text-align:right;background-color:goldenrod">
                                       
                                        @ViewBag.MainPackagingPanelCostGrandTotal.ToString("N")
                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                
            </td>
        </tr>
    </table>
   
   
</div>
<br />
<div>
    @Html.ActionLink("Edit Plan", "Edit", new { id = Model.BuildPlan_Id }) |
    @Html.ActionLink("Build Plan List", "Index") |
    @Html.ActionLink("Create Copy", "CreateCopy", new { id = Model.BuildPlan_Id })
</div>
