@model List<List<Recitopia.Models.View_Nutrition_Panel>>

@{
    ViewData["Title"] = "CompareNutritions";
}


<table style="width:100%" class="table table-borderless rounded-sm box effect8">
    <tr class="pageBanner">
        <th style="font-size:20px">
            Compare Nutritions
        </th>
    </tr>

</table>


<br />
<div >


    <table >

        <tr>
            @if (Model.Count() > 0)
            {
                @for (var i = 0; i < Model.Count(); i++)
                {
                    <td style="vertical-align:top">
                        <div class="effect8">
                            <table border="0" style="width:250px" class="table-striped">
                                <tr style="background-color:lightgoldenrodyellow;height:50px">
                                    <th colspan="3" style="text-align:center;vertical-align:bottom">
                                        @Model[i][0].Recipe_Name
                                    </th>
                                </tr>
                                <tr>
                                    <td colspan="3" style="background-color:darkseagreen;font-size:13px;text-align:center">
                                        <font style="color:white;font-weight:bold" >Nutrition (per serving)</font>
                                    </td>
                                </tr>
                                <tr style="        font-size: 13px;
        height: 10px">
                                    <th style="text-align:left;width:50%">
                                        Nutrient
                                    </th>
                                    <th style="width:25%">
                                        NV
                                    </th>
                                    <th style="width:25%">
                                        %DV
                                    </th>
                                </tr>
                                @if (Model[i].Count() > 0)
                                {
                                    @for (var j = 0; j < Model[i].Count(); j++)
                                    {
                                        @if (Model[i][j].Nutrition_Item != null)
                                        {
                                            <tr style="font-size:13px">
                                                <th>
                                                    @Model[i][j].Nutrition_Item
                                                </th>
                                                <td>
                                                    @Math.Round(Model[i][j].Nut_per_100_grams, 3)
                                                </td>
                                                <td>
                                                    @Math.Round(Model[i][j].Amount_g, 3)
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr style="font-size:13px">
                                                <td colspan="3">
                                                    <font style="color:red">No Associated Ingredients/Nutritions</font>
                                                </td>

                                            </tr>
                                        }


                                    }
                                }
                                else
                                {
                                    <tr style="font-size:13px">
                                        <th colspan="3">
                                            No Associated Ingredients/Nutritions
                                        </th>

                                    </tr>
                                }


                            </table>
                        </div>
                    </td>
                    <td>&nbsp;</td>
                }
            }
            else
            {
                <td style="vertical-align:bottom">
                    <table border="1" style="width:250px">
                        <tr style="background-color:lightgoldenrodyellow">
                            <th colspan="3" style="text-align:center">
                                There is a problem with this page!
                            </th>
                        </tr>
                        
                    </table>

                </td>
                <td>&nbsp;</td>
            }



        </tr>


    </table>




</div>
<div>
    <br />
    <a href="@Url.Action("CompareSelectRecipes", "Recipes")">Back to Recipe List</a>
    <br />
</div>
