@model Recitopia.Models.Recipe

@{
    ViewBag.Title = "Details";
}

    
    <table width="100%" class="table-borderless">
        <tr>
            <th style="font-size:20px">
                Details
            </th>
        </tr>
        <tr>
            <th style="font-size:30px;background-color:blanchedalmond">
                @Model.Recipe_Name
            </th>
        </tr>
    </table>
    <div>


        <table width="100%" border="0">
            <tr>
                <td width="30%" valign="top" style="font-size:13px">
                    <table width=100% class="table-striped" border="1">
                        <tr>
                            <th style="background-color:darkseagreen;font-size:15px">
                                Details
                            </th>
                        </tr>
                        <tr>
                            <th>Recipe Name</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.Recipe_Name)</td>
                        </tr>
                        <tr>
                            <th>Category Name</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.Meal_Category.Category_Name)</td>
                        </tr>
                        <tr>
                            <th>Serving Size</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.Serving_Sizes.Serving_Size)</td>
                        </tr>
                        <tr>
                            <th>Labor Cost</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.LaborCost)</td>
                        </tr>
                        <tr>
                            <th>Gluten Free</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.Gluten_Free)</td>
                        </tr>
                        <tr>
                            <th>SKU</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.SKU)</td>
                        </tr>
                        <tr>
                            <th>UPC</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.UPC)</td>
                        </tr>
                        @if (Model.Notes != null)
                        {
                            <tr>
                                <th>Notes</th>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Notes)</td>
                            </tr>
                        }
                        <tr>
                            <th>Last Modified</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.LastModified)</td>
                        </tr>
                    </table>
                    <br />
                    <table border="1" width="100%" class="table-striped">
                        <tr>
                            <th colspan="3" style="background-color:darkseagreen;font-size:15px">
                                Nutrition (per serving)
                            </th>
                        </tr>
                        <tr>
                            <th width="50%" align="right">
                                Nutrient
                            </th>
                            <th width="25%">
                                NV
                            </th>
                            <th width="25%">
                                %DV
                            </th>
                        </tr>
                        @if (ViewBag.Nutrition != null)
                        {
                            foreach (var nutItem in ViewBag.Nutrition)
                            {
                                if (nutItem != null)
                                {
                                    <tr>
                                        <td align="right">
                                            <span style="font-weight:bolder"> @nutItem.Nutrition_Item @nutItem.Measurement</span>
                                        </td>
                                        <td>
                                            <span> @Math.Round(nutItem.Nut_per_100_grams, 3) </span>
                                        </td>
                                        <td>
                                            @if (nutItem.Amount_g == 0)
                                            {
                                                <span>NA</span>
                                            }
                                            else
                                            {
                                                <span>@Math.Round(nutItem.Amount_g, 3)</span>
                                            }


                                        </td>
                                    </tr>
                                }


                            }
                        }

                    </table>
                </td>
                <td width="65%" valign="top" align="right"  style="font-size:13px">
                    <table border="1" width="100%" class="table-striped">
                        <tr>
                            <th colspan="4" style="background-color:darkseagreen;font-size:15px">
                                Ingredients
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Ingredients
                            </th>
                            <th>
                                Amount g
                            </th>
                            <th>
                                Cost/lb
                            </th>
                            <th>
                                Ingredient Cost
                            </th>
                        </tr>
                        @if (ViewBag.MIComponents != null)
                        {
                            foreach (var Ingr in ViewBag.MIComponents)
                            {
                                if (Ingr != null)
                                {
                                    <tr>
                                        <td>
                                            <span> @Ingr[0] </span>
                                        </td>
                                        <td>
                                            <span> @Ingr[1] </span>
                                        </td>
                                        <td>
                                            <span> @Ingr[2] </span>
                                        </td>
                                        <td>
                                            <span> @Ingr[3]  </span>
                                        </td>
                                    </tr>
                                }


                            }
                        }
                        else
                        {
                            <tr>
                                <td>

                                    @Html.ActionLink("Ingredients", "Index", "Recipe_Ingredients", new { recipeId = @Model.Recipe_Id }, null)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td align="right">
                                <strong>Net Weight g</strong>
                            </td>
                            <td>
                                @ViewBag.MICGramsSubtotal
                            </td>
                            <td align="right">
                                <strong>Subtotal $</strong>
                            </td>
                            <td>
                                @ViewBag.MIComponentsSubtotal
                            </td>
                        </tr>
                    </table>

                    <br />
                    <table border="1" width="100%" class="table-striped">
                        <tr>
                            <th colspan="4" style="background-color:darkseagreen;font-size:15px">
                                Packaging
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Packaging
                            </th>
                            <th>
                                Amount g
                            </th>
                            <th>

                            </th>
                            <th>
                                Packaging Cost
                            </th>
                        </tr>
                        @if (ViewBag.MIPComponents != null)
                        {
                            foreach (var Ingr2 in ViewBag.MIPComponents)
                            {
                                if (Ingr2 != null)
                                {
                                    <tr>
                                        <td>
                                            <span> @Ingr2[0] </span>
                                        </td>
                                        <td>
                                            <span> @Ingr2[1] </span>
                                        </td>
                                        <td>
                                            <span>  </span>
                                        </td>
                                        <td>
                                            <span> @Ingr2[2] </span>
                                        </td>
                                    </tr>
                                }


                            }
                        }
                        else
                        {
                            <tr>
                                <td>

                                    @Html.ActionLink("Ingredients", "Index", "Recipe_Ingredients", new { recipeId = @Model.Recipe_Id }, null)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td align="right">
                                <strong>Net Weight g</strong>
                            </td>
                            <td>
                                @ViewBag.GramSubtotalPackaging
                            </td>
                            <td align="right">
                                <strong>Subtotal $</strong>
                            </td>
                            <td>
                                @ViewBag.MIPComponentsSubtotal
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                
                            </td>
                            <td>
                                
                            </td>
                            <td style="background-color:goldenrod" align="right">
                                <strong>Total Weight g</strong>
                            </td>
                            <td style="background-color:goldenrod" >
                                @ViewBag.GramTotal
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table width="100%">
                        <tr>
                            <td valign="top" width="50%">
                                  <table border="1" width="100%" class="table-striped">
                                        <tr>
                                            <th style="background-color:darkseagreen;font-size:15px">
                                                Allergen Components
                                            </th>
                                        </tr>
                                        @if (ViewBag.RComponents != null)
                                        {
                                            foreach (var allergen in ViewBag.RComponents)
                                            {
                                                if (allergen != null)
                                                {
                                                    <tr>
                                                        <td>
                                                            <span> @allergen </span>
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>

                                                           NA
                                                        </td>
                                                    </tr>
                                                }

                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>

                                                    Once Ingredients are added, this will automatically populate.
                                                </td>
                                            </tr>
                                        }
                                  </table>
                            </td>
                        
                            <td  width="50%" align="right">
                                <table border="1" width="100%" class="table-striped">
                                    <tr>
                                        <th colspan="4" style="background-color:darkseagreen;font-size:15px">
                                            Totals
                                        </th>
                                    </tr>
                                    <tr>

                                        <td align="right" colspan="3">
                                            <strong>Ingredient Costs $</strong>
                                        </td>
                                        <td>
                                            @ViewBag.MIComponentsSubtotal
                                        </td>
                                    </tr>
                                    <tr>

                                        <td align="right" colspan="3">
                                            <strong>Packaging Cost $</strong>
                                        </td>
                                        <td>
                                            @ViewBag.MIPComponentsSubtotal
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" colspan="3">
                                            <strong>Subtotal $</strong>
                                        </td>
                                        <td>
                                            @ViewBag.CostGSubtotal
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" colspan="3">
                                            <strong>Labor Costs $</strong>
                                        </td>
                                        <td>
                                            @Model.LaborCost
                                        </td>
                                    </tr>
                                    <tr style="background-color:goldenrod">

                                        <td align="right" colspan="3">
                                            <strong>Total Cost $</strong>
                                        </td>
                                        <td>
                                            @ViewBag.CostGRANDTotal
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                   
                   
                    
                  
                    <br />
                    <table border="1" width="100%" class="table-striped">
                        <tr>
                            <th style="background-color:darkseagreen;font-size:15px">
                                Recipe Component Names
                            </th>
                        </tr>
                        @if (ViewBag.IComponents != null)
                        {     
                            <tr>
                                <td>
                                    <span> @ViewBag.IComponents </span>
                                </td>
                            </tr>                        
                        }
                        else
                        {
                            <tr>
                                <td>

                                    Once Ingredients are added, this will automatically populate.
                                </td>
                            </tr>
                        }
                    </table>
            </tr>
        </table>

    </div>   
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Recipe_Id }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Create Copy", "CreateCopy", new { id = Model.Recipe_Id })
   
</p>
