@model Recitopia.Models.Packaging

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.ErrorMessage != null)
{
    <font style="color:red">@ViewBag.ErrorMessage</font>
}



<table style="width:100%" class="table table-borderless rounded-sm box effect8">
    <tr class="pageBannerAdmin">
        <th>
            Delete
        </th>
    </tr>
</table>
<br />
<font class="alert-danger">Are you sure you want to delete '@Model.Package_Name'?</font>
<br />All associated recipe relationships will also be removed.
<br />
<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Package_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Package_Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendor_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Package_Id" />
        <input type="submit" value="Delete" class="btn btn-danger effect8" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
