

@model Recitopia.Models.Recipe_Ingredients

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table width="100%" class="table table-borderless">
    <tr class="pageBanner">
        <th style="font-size:30px">
            @ViewBag.RecipeName (Add Ingredients)
        </th>
    </tr>
</table>

<div ng-app="myApp" ng-controller="RecipeIngredientsCreate" ng-init="Recipe_Id=(@ViewBag.Rec_Id)" class="container-fluid" style="font-size:13px">
    @* Use ng-controller *@
   
            
    <div ng-if="resultMessage == 'Update Successful'">

        <font style="color:darkgreen">{{resultMessage}}</font><i class="fa fa-check"></i>
    </div>
    <div ng-if="resultMessage == 'Error saving'">

        <font style="color:red">{{resultMessage}}</font><i class="fa fa-exclamation"></i>
    </div>
    
    <table>
        <tr>
            <td>
                <div ng-if="(Ingredients|filter:query).length > 0">
                    <table width="100%" class="table table-condensed table-hover table-striped table-bordered table-responsive-lg">
                        <tr>
                            <th class="AngularTableHeaderColor" style="vertical-align:bottom">
                                <a href="" ng-click="changeSorting('ingred_name')"><font style="color:black">Ingredient Name</font></a>
                                <i class="fa fa-caret-left" ng-class="getIcon('ingred_name')"></i>
                            </th>
                            <th class="AngularTableHeaderColor" style="vertical-align:bottom">
                                <font style="color:black">Amount g</font>

                            </th>

                            <th style="text-align:right" class="AngularTableHeaderColor">
                                <button class="btn alert-warning AngularButtons border-dark" ng-click="RedirectToAdd(Ingredients)">
                                    &nbsp;<i style="height:15px" class=" fa fa-save"></i> Save&nbsp;
                                </button>
                            </th>


                        </tr>
                        <tr>
                            <td style="font-size:13px"><input style="padding:1px;height:20px;width:100%" ng-model="f.ingred_name"></td>
                            <td></td>
                            <td></td>

                        </tr>


                        <tr ng-repeat="ingredient in Ingredients | filter:f | orderBy:sort.active:sort.descending">
                            <td style="height:15px;padding:1px">{{ingredient.ingred_name}}</td>



                            <td style="height:15px;padding:1px">
                                <div ng-show="!ingredient.edit.amount_g"
                                     ng-click="ingredient.edit.amount_g = !ingredient.edit.amount_g">
                                    <i class="fa fa-pen"></i> {{ingredient.amount_g}}
                                </div>

                                <input type="number" min="0" step="0.001" style="width:75px" required ng-show="ingredient.edit.amount_g"
                                       @*ng-blur="ingredient.edit.amount_g = !ingredient.edit.amount_g"*@
                                       ng-model="ingredient.amount_g" />
                                <input hidden type="text" ng-model="ingredient.recipe_Id" ng-init="ingredient.recipe_Id=@ViewBag.Rec_Id" />

                            </td>




                            <td style="height:15px;padding:1px;text-align:right;vertical-align:central;width:100px">
                                @*<button ng-click="RedirectToAdd(ingredient)" class="btn btn-outline-success AngularButtons">
                                        <i class="fa fa-plus"></i>
                                    </button>*@

                            </td>




                        </tr>
                        <tr>
                            <td colspan="1">
                                <div>
                                    <div ng-if="resultMessage == 'Update Successful'">

                                        <font style="color:darkgreen">{{resultMessage}}</font><i class="fa fa-check"></i>
                                    </div>
                                    <div ng-if="resultMessage == 'Error saving'">

                                        <font style="color:red">{{resultMessage}}</font><i class="fa fa-exclamation"></i>
                                    </div>
                                </div>
                            </td>
                            <td align="right" colspan="3">

                                <button class="btn alert-warning AngularButtons border-dark" ng-click="RedirectToAdd(Ingredients)">
                                    &nbsp;<i style="height:15px" class=" fa fa-save"></i> Save&nbsp;
                                </button>
                            </td>

                        </tr>

                    </table>

                </div>
            </td>
            <td style="vertical-align:top;text-align:left">
                <div>
                    <table>
                        <tr style="background-color:lightblue">
                            <td style="font-weight:bolder" align="center">
                                Ingredients already in '@ViewBag.RecipeName'
                            </td>

                        </tr>
                        @if (ViewBag.Ingredients != null)
                        {
                            foreach (var thing in ViewBag.Ingredients)
                            {
                                <tr>
                                    <td style="font-size:small">
                                        -@thing
                                    </td>


                                </tr>
                            }
                        }

                    </table>
                </div>
            </td>
        </tr>
    </table>


</div>


<div>
    @Html.ActionLink("Back to List", "Index", new { recipeID = ViewBag.Rec_Id })
</div>


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
